.facebook-content-btn {
  background: transparent;
  border: 1px solid transparent;
  outline: 1px solid transparent;
  color: #fff;
}

.bm-menu {
  padding-top: 2.5em !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  ul {
    padding: 0px !important;
    outline: none;
  }

  li {
    list-style-type: none;
    font-size: 24px;
    font-weight: 100;
    font-family: Ubuntu;
    padding: 10px 40px;
    @media (max-width: 768px) {
      font-size: 14px;
      padding: 6px 30px;
    }
    &:hover {
      background: #c35e1bc2;
      color: #fff;
    }
    &.coming-soon {
      h4 {
        font-size: 24px;
        font-weight: 100;
        font-family: Ubuntu;
        padding: 10px 40px;
        color: #c35e1bc2;
        @media (max-width: 768px) {
          font-size: 14px;
          padding: 0 !important;
        }
      }
      background: #181717c2;
      color: #fff;
    }
  }
}
.bm-item-list {
  padding: 0 !important;
}
