.container {
  @media (max-width: 768px) {
    padding: 0 !important;
  }
}
.wrapper {
  iframe {
    // width: 100% !important;
    // height: 400px !important;
  }
  .loader-container {
    margin-top: 15vh;
    @media (max-width: 768px) {
      margin-top: 5vh;
    }
  }
  .post-image {
    width: 100%;
    height: 90vh;
    background-size: cover !important;
  }
  .post-image-inside {
    height: 60px;
    position: relative;
    padding-top: 70%;
    background-size: cover !important;
  }
  .brief {
    background: #f2711cc2;
    color: #ffffff;
    font-size: 20px !important;
    letter-spacing: 0.1px;
    font-weight: 400;
    font-family: Ubuntu, Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
    padding: 30px;
  }
  .article-text {
    padding: 10px;
    @media (max-width: 768px) {
      padding: 20px !important;
    }
    h2 {
      font-size: 2.7rem;
      font-weight: 900;
    }
  }
  .detail {
    @media (max-width: 768px) {
      padding-top: 15vh !important;
    }
    background: #fff !important;
    h1 {
      text-align: center;
      text-transform: capitalize;
      font-weight: bolder;
      padding: 20px;
      color: #0000009c;
      font-family: Ubuntu;
      font-size: 4.5em;
      text-shadow: none;
      margin-bottom: 0px;
      @media (max-width: 768px) {
        font-size: 3em;
      }
    }
    h3 {
      color: #666;
      font-weight: 100;
      letter-spacing: 1px;
      margin-top: -5px;
    }
    p {
      font-size: 22px;
      color: #fff;
      line-height: 30px;
    }
  }
  .post-text {
    margin: 0 auto;
    text-align: left;
    background: #fff;
    @media (max-width: 768px) {
      padding: 0 !important;
    }
    p {
      color: #444;
      font-size: 20px !important;
      letter-spacing: 0.1px;
      font-weight: 400;
      font-family: Ubuntu, Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
    }
    padding: 20px 20px;
    h1 {
      text-align: center;
    }
    img {
      width: 50% !important;
      margin: 30px 30% !important;
      box-shadow: 1px 1px 9px 3px #a09d9d45;
    }
  }
  .back-to-posts {
    margin: 0 auto;
    @media (max-width: 768px) {
      text-align: center !important;
    }
  }
}
.detail-container {
  padding-top: 30px;
}

.react-share__ShareButton {
  padding: 5px !important;
}

.full-width-share {
  h4 {
    padding: 15px;
  }
}
.fb-like {
  span {
    height: 30px !important;
  }
}
