body{
    h1{
        font-family: Helvetica Neue;
    }
}
.floating{
    position: fixed;
    bottom: 100px;
    right: 100px;
    width: 110px;
    @media(max-width: 768px){
      display: none;
    }
  }

  .back-to-home{
    margin: 20px auto;
    @media(max-width: 768px){
      text-align: center !important;
    }
  }