@mixin scrollbars(
  $size,
  $foreground-color,
  $background-color: mix($foreground-color, white, 50%)
) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

body {
  @include scrollbars(10px, pink, #fd7e14);
  font-family: "Ubuntu";
  background-color: #fff;
}

.nav {
  display: flex;
  justify-content: flex-start;
  padding: 40px 40px;
  @media (max-width: 768px) {
    padding: 40px 100px;
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    li {
      list-style: none;
      font-weight: 900;
      cursor: pointer;
      margin: 10px;
    }
  }
}

.floating-left {
  position: fixed;
  left: 0;
  width: 500px;
  top: 130px;
  z-index: -1;
  @media (max-width: 768px) {
    left: 30vw;
    width: 100px;
    top: 70vh;
    &.with-discalaimer {
      display: none;
    }
  }
}

.disclaimer-text {
  height: 540px;
  overflow-y: scroll;
  padding: 20px;
  @media (max-width: 768px) {
    height: 100%;
  }
}

.story {
  position: absolute;
  right: 0vw;
  top: 15vh;
  width: 50vw;
  text-align: center;
  &.with-disclaimer {
    position: absolute;
    right: 10vw;
    top: 15vh;
    width: 50vw;
    @include scrollbars(0.5em, slategray);
  }
  &.contact {
    top: 5vh !important;
  }
  @media (max-width: 768px) {
    position: absolute;
    left: 0;
    top: 15vh;
    width: 100vw;
    padding: 10px;
    h1 {
      font-size: 50px !important;
    }
    &.with-disclaimer {
      position: relative !important;
      right: 0 !important;
      top: 50px !important;
      width: 100vw !important;
      height: auto;
      @include scrollbars(0.5em, slategray);
    }
  }
  h1 {
    font-size: 60px;
    font-weight: 900;
  }
  h4 {
    font-family: Helvetica Neue;
    font-size: 20px;
    font-style: italic;
  }
  .input {
    margin-top: 20px;
    width: 100%;
    @media (max-width: 768px) {
      width: 70%;
    }
    input {
      border: 5px solid #000;
      &::placeholder {
        color: #000;
      }
      &:focus {
        &::placeholder {
          color: #000;
        }
      }
    }
    icon {
      color: #f44336;
    }
  }
  .results-box {
    margin: 0 auto;
    position: absolute;
    z-index: 10;
    max-height: 300px;
    overflow-y: scroll;
    .result {
      border: 1px solid #00000017;
      margin-right: 0px;
      margin-left: 0px;
      cursor: pointer;
      background-color: #fff;
      div {
        padding-top: 15px;
        padding-left: 15px;
        &:last-child {
          padding-bottom: 10px;
        }
      }
      .col-2 {
        padding: 0px;
      }
      .col-10 {
        padding: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: #fff;
        font-weight: 100;
      }
      small {
        color: rgb(95, 99, 104);
      }
      img {
        width: 100%;
      }
    }
  }
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  left: 0px;
  top: 0px;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

@mixin media($breakpoint) {
  @if $breakpoint == small {
    @media (max-width: 60em) {
      @content;
    }
  }
}

// VARIABLES
$color-header: #0d0d0d;
$color-text: #404040;

$color-btn-text: #3363ff;
$color-btn-background: #e6ecff;

$transition: 0.2s;

// MAIN CONTENT
.grid {
  display: flex;
  align-items: start;
  width: 600px;
  margin-top: 30px;

  @include media(small) {
    display: flex;
    align-items: start;
    width: 100vw;
    margin-top: 10px;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }

  &__item {
    background-color: #fff;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: $transition;
    width: 220px;
    height: auto;
    margin: 10px;
    &:hover {
      transform: translateY(-0.5%);
      box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
    }
  }
}

.card {
  &__img {
    display: block;
    width: 100%;
    height: 6rem;
    object-fit: cover;
  }

  &__content {
    padding: 1rem 1rem !important;
  }

  &__header {
    font-size: 1rem !important;
    font-weight: 500 !important;
    color: $color-header;
    margin-bottom: 1.5rem;
    @include media(small) {
      font-size: 1.2rem !important;
    }
  }

  &__text {
    font-size: 0.8rem;
    color: #3d3d3d;
    margin-bottom: 2.5rem;
    text-align: left;
  }

  &__btn {
    display: block;
    width: 100%;
    padding: 0.5rem;
    font-size: 0.8rem;
    text-align: center;
    color: #495057;
    background-color: #f9cf4c;
    border: none;
    border-radius: 0.4rem;
    transition: 0.2s;
    cursor: pointer;

    span {
      margin-left: 1rem;
      transition: $transition;
    }

    &:hover,
    &:active {
      background-color: darken(#f9cf4c, 2%);

      span {
        margin-left: 1.5rem;
      }
    }
  }
}

.hide-mobile {
  @media (max-width: 768px) {
    display: none;
  }
}

.form__label {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
}

.form__input {
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}

.beta {
  padding: 5px;
  background: #dc0d0d;
  border-radius: 5px;
  color: #fff;
  font-weight: 900;
  margin: 5px;
}
